<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/admin/home"><img src="/styles/team7tr.jpg" alt="" width=100% height=""></a>

    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/LogOut">Sign out</a>
        </li>
    </ul>
</nav>